#myBigButton{
    color: aquamarine;
    background-color: black;
    height: 30px;
    width: 60px;
    box-shadow: black 1px 1px 3px;
    border-radius: 10px;
    border-style: none;
}
#autoWrite{
    position: relative;
    margin: auto;
    top: 50%;
}